window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#workspaces button {
    border: 0px;
    font-family: "Symbols Nerd Font Mono";
    background: transparent;
    color: white;
}

#custom-launcher {
    font-family: "Symbols Nerd Font Mono";
    padding: 0px 10px;
    font-size: 20px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}

#pulseaudio-slider highlight {
    min-width: 0px;
    border-radius: 5px;
    background-color: #328f6f;
    border-color: #7eb587;
}